body {

    /* first lesson*/
    
    background-color: #dfdc5b;
    
    }
    
    header {
    
    /* first lesson*/
    
    background-color: rgb(235, 22, 22);
    
    }
    
    nav {
    
    /* first lesson*/
    
    background-color: aquamarine;
    
    }
    
    #intro {
    
    /* first lesson*/
    
    background-color: lightpink;
    
    }
    
    .main-section-content h2 {
    
    /* first lesson*/
    
    background-color: darkkhaki;
    
    }
    
    #bestsellers,
    
    footer {
    
    /* first lesson*/
    
    background-color: rgb(80, 245, 3);
    
    }
    
    header,
    
    nav,
    
    #intro,
    
    #main-section,
    
    #bestsellers,
    
    footer {
    
    /* first lesson*/
    
    border: 1px solid black;
    
    }
    
    header,
    
    nav,
    
    #main-section {
   
        border-radius: 10px;
        border-color: #ee160f;
    /* first lesson*/
    
    border-radius: 10px;
    
    }
    
    header h1 {
        margin: 30px;
    
    /* first lesson*/
    
    color: white;
    
    }
    
    h2,
    
    p {
    
    /* first lesson*/
    
    color: #333333;
    
    }
    
    table,
    
    th,
    
    td {
    
    /* first lesson*/
    
    border: 1px solid black;
    
    }
    
    tr:last-child {
    
    /* first lesson*/
    
    color: red;
    
    }
    
    span {
    
    /* first lesson*/
    
    color: blue;
    
    }
    
    footer p:first-child span {
    
    /* first lesson*/
    
    color: red;
    
    }
    
    .teacher-info {
    
    /* first lesson*/
    
    border: 1px solid;
    
    border-radius: 5px;
    
    }
    
    button {
    
    /*first lesson*/
    
    background-color: red;
    
    color: white;
    
    }
    img{
        box-shadow: 20px 0px 21px #07e9da;
    }